*.terraform
*.tfstate.*
*.tfstate
.idea
*.tfvars
.azure
.envrc
.direnv
*.log
*.key
*.pub
backend.tf
**/*.tfvars.json
*.tfvars.jon
*.private
.terraform.lock.hcl
tf.out
**/namespace.yaml
**/kustomization.yaml
1
