env_name            = "azure"
location            = "West Europe"
dns_suffix          = "dpslab.labbuildr.com"
ppdm_hostname       = "ppdm1"
ppdm_meta_disks =  ["1023","256","256"]
ppdm_initial_password = "Change_Me12345_"
ppdm_vm_size = "Standard_F4"
