export EDITOR=vim
export ENVIRONMENT=dps
export CLOUD=azure_dell_msdn
# export CLOUD=azure_emc_msdn
use azure $ENVIRONMENT $CLOUD
use minio-client asdk dpslab
#eval "$(lpass show dps\\azure_emc_msdn/terraform_env --notes)"
#eval "$(lpass show dps\\azure_dell_msdn/tf_vars_json --notes | jq -r 'keys[] as $key | "export TF_VAR_\($key)=\"\(.[$key])\""')"
# lpass show dps\\azure_dell_msdn/tf_vars_json --notes > terraform.tfvars.json
eval $(lpass show dps\\azure_dell_msdn/tf_vars_json --notes | jq -r 'keys[] as $key | "export TF_VAR_\($key)='\''\(.[$key])'\''"')
export TF_VARS_FILE=asdk/terraform/terraforming-dps/terraform_'$timestamp'.auto.tfvars.json
export timestamp=$(date "+%Y.%m.%d-%H%M")
export TF_VARS_FILE_BACKEND=$(echo "$TF_VARS_FILE" | envsubst)
