{
"environment":"tfdemo",
"ddve_meta_disks":[1000,1000],
"ddve_password":"Change_Me12345_",
"ddve_public_ip":"false",
"ddve_type":"16 TB DDVE",
"ppdm_initial_password":"Change_Me12345_",
"ppdm_public_ip":"false",
"dns_suffix":"dpslab.labbuildr.com",
"enable_aks_subnet":"true",
"create_networks":"true",
"aks_count":0,
"ddve_count":1,
"ppdm_count":0,
"create_s2s_vpn" : true,
"wan_ip": "91.62.11.3",
"tunnel1_preshared_key": "redacted",
"vpn_destination_cidr_blocks": ["192.168.1.0/24"],
"aks_private_cluster": false
}